# Express server port
PORT=5001

# Stellar Soroban RPC configurations
STELLAR_RPC_URL=http://localhost:8000/soroban/rpc
STELLAR_NETWORK_PASSPHRASE="Standalone Network ; February 2017"

# Deployed Smart Contract ID on local network (outputs from stellar contract deploy)
VOTING_CONTRACT_ID=""

# Mock settings: Set to false once the contract is deployed locally
MOCK_MODE=true
